<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">

    <display-name>Simple Web Servlet Example</display-name>
    <description>Simple Web Servlet Example</description>

    <servlet>
        <description><![CDATA[A generic servlet that executes usual php scripts.]]></description>
        <display-name>PhpServlet</display-name>
        <servlet-name>PhpServlet</servlet-name>
        <servlet-class>\TechDivision\ServletContainer\Servlets\PhpServlet</servlet-class>
    </servlet>

    <servlet>
        <description/>
        <display-name>HelloWorldServlet</display-name>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello-world.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PhpServlet</servlet-name>
        <url-pattern>/*.php</url-pattern>
    </servlet-mapping>

</web-app>